# INFO 2950 Final Project

## Phase II: Data Cleaning

### (a) Research Question(s)

We are interested in evaluating crime in New York City over a 10 year period. How has crime changed in New York City from 2009 to 2019? How has the prevalence of certain crimes transformed over this timespan?

We are also interested in how implementation of certain policing programs has potentially influenced the crime statistics we find. In particular, we are interested in how the Stop, Question, and Frisk program influenced crime statistics during this period.

### (b) Data Cleaning

In this Notebook, we will be cleaning our datasets and performing relevant summary statistics and plots. We have 4 datasets in total: New York City Seven Major Felony Offenses (2000-2020), New York City Non-Seven Major Felony Offenses (2000-2020). Stop, Question, and Frisk (2011), and Stop, Question, and Frisk (2019).

In [7]:
# Load libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

#### Dataset #1: Stop, Question, and Frisk (2011)

---

Load in the Stop, Question, and Frisk (2011) raw dataset:

In [2]:
sqf2011_raw = pd.read_csv('/Users/leajih-vieira/Downloads/Data Science Project/2011.csv', encoding = 'latin1')

/Users/leajih-vieira/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (73,103) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Because we are using multiple Stop, Question, and Frisk datasets, we must match columns to each other and assign them identical column names for ease of analysis. We also must identify columns that are unable to be used since the data were only recorded in one dataset and not the other, etc. The following steps deal with this process.

Create a list of the column names that will be dropped from the sqf2011 dataset titled drop_cols_for_2011. Drop the columns in this list that are unnecessary for our project:

In [3]:
drop_cols_for_2011 = ['pct', 'ser_num', 'recstat', 'inout', 'trhsloc', 'typeofid', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'adtlrept', 'radio', 'ac_rept', 'ac_inves', 'ac_proxm', 'ac_evasv', 'ac_assoc', 'ac_cgdir', 'ac_incid', 'ac_time', 'ac_stsnd', 'ac_other', 'repcmd', 'revcmd', 'offverb', 'offshld', 'forceuse', 'dob', 'ht_feet', 'ht_inch', 'weight', 'haircolr', 'eyecolor', 'build', 'othfeatr', 'addrtyp', 'rescode', 'premtype', 'premname', 'addrnum', 'stname', 'stinter', 'crossst', 'aptnum', 'state', 'zip', 'addrpct', 'sector', 'beat', 'post', 'xcoord', 'ycoord', 'dettypcm', 'linecm', 'detailcm']

sqf2011_copy1 = sqf2011_raw.drop(labels = drop_cols_for_2011, axis = 1)

Another aspect of the data that we are not interested in that is included in this dataset is the reason a suspect was stopped, the reason a suspect was frisked, and the basis of the search (if any). Because we are analyzing crime statistics in New York City as a whole, we are not interested in understanding why a suspect was stopped, frisked, searched, etc. If we were analyzing the Stop and Frisk program and its efficacy, this might be more relevant information to determine if the program had any effects on crime rate. Since we are more interested in whether or not a person was stopped, frisked, arrested, etc., knowing the underlying reason(s) why they were stopped is irrelevant to this analysis.

In [4]:
drop_reasons_cols_for_2011 = ['rf_vcrim', 'rf_othsw', 'rf_attir', 'cs_objcs', 'cs_descr', 'cs_casng', 'cs_lkout', 'rf_vcact', 'cs_cloth', 'cs_drgtr', 'cs_furtv', 'rf_rfcmp', 'rf_verbl', 'cs_vcrim', 'cs_bulge', 'rf_knowl', 'sb_hdobj', 'sb_outln', 'sb_admis', 'sb_other', 'rf_furt', 'rf_bulg', 'cs_other']

sqf2011_copy2 = sqf2011_copy1.drop(labels = drop_reasons_cols_for_2011, axis = 1)

Rename the remaining columns so that they have more easily understandable names:

In [5]:
sqf2011_copy3 = sqf2011_copy2.rename(columns={"datestop": "date", "timestop": "time", "perobs": "obs_duration", "crimsusp": "crime_sus", "perstop": "stop_duration", "explnstp": "off_explain", "othpers": "other_stop", "contrabn": "contraband", "knifcuti": "knife", "othrweap": "other_weapon", "city": "boro"})

The Stop, Question, and Frisk (2011) dataset has data recorded on if weapons were found on the supsect, and if so, what kind of weapon it was. The categories used to record this data have many differences from the other datasets' categories for weapons found on suspects. To solve this difference between datasets, we decided to reorganize the weapons columns into three categories: firearm, knife, and other weapon. The following cell reformats the weapons categories and renames them.

In [6]:
sus_firearm_str = sqf2011_copy3.pistol + sqf2011_copy3.riflshot + sqf2011_copy3.asltweap + sqf2011_copy3.machgun

sus_firearm = sus_firearm_str.str.contains(pat = 'Y')

# Add the firearms column to the sqf2011 DataFrame.
sqf2011_copy3['firearm'] = sus_firearm

# Drop the unnecessary firearms columns.
drop_cols_firearm = ['pistol', 'riflshot', 'asltweap', 'machgun']

sqf2011_copy4 = sqf2011_copy3.drop(labels = drop_cols_firearm, axis = 1)

When an officer uses physical force on a suspect, there are many categories that the physical force can be classified into: hands, suspect against wall, suspect on ground, weapon drawn, weapon pointed, baton, handcuffs, pepper spray, and other. We are mainly interested in whether or not a weapon was drawn and / or pointed. In order to condense the physical force data, we made a general physical force column that records whether or not any physical force was used during the encounter, but will be keeping a separate column specifying if a weapon was drawn and / or pointed during the encounter. These edits are done in the cell below:

In [7]:
# Condense the 'Point Weapon' column and the 'draw weapon' column into one - 'Point and / or Draw Weapon'.
pt_draw_weapon_str = sqf2011_copy4.pf_drwep + sqf2011_copy4.pf_ptwep

pt_draw_force = pt_draw_weapon_str.str.contains(pat = 'Y')

# Add Point and / or Draw Weapon column to the SandF_2011 DataFrame.
sqf2011_copy4['pt_draw_force'] = pt_draw_force

# Condense all use of physical force into one column.
phys_force_str = sqf2011_copy4.pf_hands + sqf2011_copy4.pf_wall + sqf2011_copy4.pf_grnd + sqf2011_copy4.pf_drwep + sqf2011_copy4.pf_ptwep + sqf2011_copy4.pf_baton + sqf2011_copy4.pf_hcuff + sqf2011_copy4.pf_pepsp + sqf2011_copy4.pf_other

phys_force = phys_force_str.str.contains(pat = 'Y')

# Add the physical force column to the SandF_2011 DataFrame.
sqf2011_copy4['phys_force'] = phys_force

# Drop the unnecessary physical force columns.
drop_cols_phys_force = ['pf_hands', 'pf_wall', 'pf_grnd', 'pf_drwep', 'pf_ptwep', 'pf_baton', 'pf_hcuff', 'pf_pepsp', 'pf_other']

sqf2011_copy5 = sqf2011_copy4.drop(labels = drop_cols_phys_force, axis = 1)

sqf2011_copy5.head()

,year,date,time,obs_duration,crime_sus,stop_duration,off_explain,other_stop,arstmade,arstoffn,...,contraband,knife,other_weapon,sex,race,age,boro,firearm,pt_draw_force,phys_force
0,2011,1012011,0,1,BURGLARY,6,Y,N,N,,...,N,N,N,M,A,21,QUEENS,False,False,True
1,2011,1012011,5,1,FEL,2,Y,N,N,,...,N,N,N,M,B,15,QUEENS,False,False,False
2,2011,1012011,7,1,CPW,2,Y,Y,N,,...,N,N,N,M,B,17,QUEENS,False,False,True
3,2011,1012011,7,1,CPW,2,Y,Y,N,,...,N,N,N,M,B,17,QUEENS,False,False,True
4,2011,1012011,7,1,CPW,2,Y,Y,N,,...,N,N,N,M,B,20,QUEENS,False,False,True

The final step is the export the analysis-ready data:

In [8]:
#SandF_2011.to_csv(path_or_buf = 'SandF_2011_size_test')

#### Dataset #2: Stop, Question, and Frisk (2019)

---

Load in the Stop, Question, and Frisk (2019) raw dataset:

In [9]:
sqf2019_raw = pd.read_csv("/Users/leajih-vieira/Downloads/Data Science Project/sqf-2019.csv")

Keep only these columns from the Stop, Question, and Frisk (2019) data:

In [10]:
#keep only these columns from the 2019 stop and frisk data
sqf2019_copy1=sqf2019_raw[['STOP_FRISK_DATE', 'STOP_FRISK_TIME', 'YEAR2', 'OBSERVED_DURATION_MINUTES', 'SUSPECTED_CRIME_DESCRIPTION',
       'STOP_DURATION_MINUTES', 'OFFICER_EXPLAINED_STOP_FLAG', 'OTHER_PERSON_STOPPED_FLAG',
       'SUSPECT_ARRESTED_FLAG', 'SUSPECT_ARREST_OFFENSE','SUMMONS_ISSUED_FLAG', 'FRISKED_FLAG', 'SEARCHED_FLAG', 'OTHER_CONTRABAND_FLAG', 'FIREARM_FLAG',
       'KNIFE_CUTTER_FLAG', 'OTHER_WEAPON_FLAG', 'WEAPON_FOUND_FLAG',
       'PHYSICAL_FORCE_CEW_FLAG', 'PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG',
       'PHYSICAL_FORCE_HANDCUFF_SUSPECT_FLAG',
       'PHYSICAL_FORCE_OC_SPRAY_USED_FLAG', 'PHYSICAL_FORCE_OTHER_FLAG',
       'PHYSICAL_FORCE_RESTRAINT_USED_FLAG',
       'PHYSICAL_FORCE_VERBAL_INSTRUCTION_FLAG',
       'PHYSICAL_FORCE_WEAPON_IMPACT_FLAG', 'SUSPECT_REPORTED_AGE', 'SUSPECT_SEX',
       'SUSPECT_RACE_DESCRIPTION', 'STOP_LOCATION_BORO_NAME']]

In [11]:
#renaming columns from the 2019 Stop and Frisk data
sqf2019_copy2=sqf2019_copy1.rename(columns={'STOP_FRISK_DATE':'date','STOP_FRISK_TIME' : 'time', 'YEAR2' :'year', 'OBSERVED_DURATION_MINUTES' : 'obs_duration', 'SUSPECTED_CRIME_DESCRIPTION': 'crime_sus',
       'STOP_DURATION_MINUTES' : 'stop_duration', 'OFFICER_EXPLAINED_STOP_FLAG' : 'off_explain', 'OTHER_PERSON_STOPPED_FLAG':'other_stop',
       'SUSPECT_ARRESTED_FLAG':'arstmade', 'SUSPECT_ARREST_OFFENSE':'arstoffn', 'SUMMONS_ISSUED_FLAG': 'sumissue','FRISKED_FLAG':'frisked', 'SEARCHED_FLAG':'searched', 'OTHER_CONTRABAND_FLAG':'contraband', 'FIREARM_FLAG':'firearm',
       'KNIFE_CUTTER_FLAG':'knife',
         'SUSPECT_REPORTED_AGE': 'age', 'SUSPECT_SEX':'sex',
       'SUSPECT_RACE_DESCRIPTION':'race', 'STOP_LOCATION_BORO_NAME':'boro'})

The Stop, Question, and Frisk (2019) dataset has columns labeled "weapons_found_flag" and "other_weapon_flag" separate from firearm and knife cutter categories. The 2011 dataset has a category for just other weapons. To give the two datasets a common other weapons column, the following cell combined data to just one column named "other_weapon".

In [12]:
#combine other weapon and weapon to just 1 weapon column:
weaponstr= sqf2019_copy2.OTHER_WEAPON_FLAG + sqf2019_copy2.WEAPON_FOUND_FLAG
weapon = weaponstr.str.contains(pat = 'Y')
sqf2019_copy2['other_weapon']=weapon
# Drop the unnecessary weapons columns.
drop_cols_weapons = ['OTHER_WEAPON_FLAG', 'WEAPON_FOUND_FLAG']
sqf2019_copy3 = sqf2019_copy2.drop(labels = drop_cols_weapons, axis = 1)
sqf2019_copy3['firearm']=sqf2019_copy3.firearm.str.contains(pat='Y')
sqf2019_copy3['knife']=sqf2019_copy3.knife.str.contains(pat='Y')

The same reformatting for physical force columns is done in the following cell to the Stop, Question, and Frisk (2019) dataset.

In [13]:
#combine physical forces into one
physforcestr= sqf2019_copy3.PHYSICAL_FORCE_CEW_FLAG + sqf2019_copy3.PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG+ sqf2019_copy3.PHYSICAL_FORCE_HANDCUFF_SUSPECT_FLAG + sqf2019_copy3.PHYSICAL_FORCE_OC_SPRAY_USED_FLAG + sqf2019_copy3.PHYSICAL_FORCE_OTHER_FLAG + sqf2019_copy3.PHYSICAL_FORCE_RESTRAINT_USED_FLAG + sqf2019_copy3.PHYSICAL_FORCE_VERBAL_INSTRUCTION_FLAG +sqf2019_copy3.PHYSICAL_FORCE_WEAPON_IMPACT_FLAG 
physforce = physforcestr.str.contains(pat = 'Y')
sqf2019_copy3['phys_force']= physforce

# Drop the unnecessary physforce columns. 
#keep'PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG' even though it is in phys_force
pt_drawforce= sqf2019_copy3.PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG.str.contains(pat='Y')
sqf2019_copy3['pt_draw_force']= pt_drawforce

sqf2019_copy4= sqf2019_copy3.drop(labels= 'PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG', axis=1)
drop_cols_pf = ['PHYSICAL_FORCE_CEW_FLAG', 'PHYSICAL_FORCE_HANDCUFF_SUSPECT_FLAG','PHYSICAL_FORCE_OC_SPRAY_USED_FLAG', 'PHYSICAL_FORCE_OTHER_FLAG','PHYSICAL_FORCE_RESTRAINT_USED_FLAG', 'PHYSICAL_FORCE_VERBAL_INSTRUCTION_FLAG','PHYSICAL_FORCE_WEAPON_IMPACT_FLAG']
sqf2019_copy5 = sqf2019_copy4.drop(labels = drop_cols_pf, axis = 1)

sqf2019_copy5.head()

,date,time,year,obs_duration,crime_sus,stop_duration,off_explain,other_stop,arstmade,arstoffn,...,contraband,firearm,knife,age,sex,race,boro,other_weapon,phys_force,pt_draw_force
0,1/2/2019,14:30:00,2019,1,PETIT LARCENY,10,Y,N,N,(null),...,N,False,False,30,MALE,BLACK,MANHATTAN,False,True,False
1,1/8/2019,2:30:00,2019,1,GRAND LARCENY,10,Y,N,Y,GRAND LARCENY,...,N,False,False,22,MALE,BLACK,MANHATTAN,False,True,False
2,1/12/2019,16:54:00,2019,1,PETIT LARCENY,4,Y,N,Y,PETIT LARCENY,...,N,False,False,56,MALE,WHITE,MANHATTAN,False,True,False
3,1/14/2019,21:21:00,2019,0,ROBBERY,5,Y,N,N,(null),...,N,False,False,(null),MALE,BLACK,MANHATTAN,False,True,False
4,1/15/2019,18:50:00,2019,1,ASSAULT,5,Y,N,Y,ASSAULT,...,N,False,False,21,MALE,BLACK,MANHATTAN,False,True,False

The final step is the export the analysis-ready data:

In [14]:
#sqf2019_copy5.to_csv(path_or_buf='sqf2019_size_test')

#### Dataset #3: New York City Crime Data (2009-2019)

---

This dataset was composed from four individual datasets created by the New York Police Department (NYPD) for the public. The four original datasets consisted of data regarding the Seven Major Felony Offenses, Non Major Felony Offenses, Misdemeanor Offenses, and Violation Offenses. First, we cleaned each of the four datasets. After, we combined them as one final dataset that is ready for analysis, New York City Crime Data (2009-2019).

##### Dataset #3.1: Seven Major Felony Offenses Data (2000-2020)

---

First, we will be cleaning the Seven Major Felony Offenses (2000-2020) dataset individually.

In [12]:
# Load raw dataset
major_felony_raw = pd.read_csv('seven-major-felony-offenses-2000-2020.csv')

Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values

In [13]:
major_felony = major_felony_raw.copy().drop([0, 1, 2])
new_colnames_major = [i for i in major_felony_raw.iloc[3]]
major_felony.columns = new_colnames_major
major_felony = major_felony.drop([3])

# Drop Statistical Notes and NaN values
major_felony = major_felony.drop([12, 13, 14, 15, 16, 17, 18, 19])

Columns from 2000-2008 (inclusive), and 2020 are not relevant to our analysis. Thus, we drop these columns.

In [14]:
major_felony = major_felony.drop(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', 2020.0], axis=1)

# Reset Indices
major_felony = major_felony.reset_index(drop=True)

Reformat the dataset by renaming columns, casting all numerical entries as ints, and renaming the entries within the offenses column.

In [15]:
# Rename Columns
major_felony = major_felony.rename(columns={"OFFENSE": "offense", '2009': 2009, '2010': 2010, '2011': 2011, '2012': 2012, '2013': 2013, '2014': 2014, '2015': 2015, '2016': 2016, '2017': 2017, '2018': 2018, 2019.0: 2019})

# Make All Data Entries the Same Type (Int)
major_felony[2019.0] = [int(i) for i in major_felony[2019.0]] 
major_felony.iloc[7, 1:11] = [int(i.replace(',', '')) for i in major_felony.iloc[7, 1:11]] 
for x in range(0, 7):
    major_felony.iloc[x, 1:11] = [int(i) for i in major_felony.iloc[x, 1:11]]

# Make Offense Types Lowercase
major_felony.loc[:, "offense"] = major_felony.loc[:, "offense"].str.lower()

# Rename Offenses
major_felony.loc[0, 'offense'] = 'murder'
major_felony.loc[:, 'offense'] = [i.replace(" ","_") for i in major_felony.loc[:, 'offense']]

Drop the Totals row.

In [16]:
# Drop Totals Row 
major_felony = major_felony.drop([7])

Finally, add a column to indicate the category of the offenses (Major Felony) for later reference in the final dataset.

In [18]:
# Add column "status" (as a felony crime) for later
major_felony['status'] = ['major_felony' for i in major_felony['offense']]

major_felony

,offense,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,status
0,murder,471,536,515,419,335,333,352,335,292,295,319,major_felony
1,rape,1205,1373,1420,1445,1378,1352,1438,1438,1449,1794,1755,major_felony
2,robbery,18601,19486,19717,20144,19128,16539,16931,15500,13956,12913,13371,major_felony
3,felony_assault,16773,16956,18482,19381,20297,20207,20270,20847,20052,20208,20698,major_felony
4,burglary,19430,18600,18720,19168,17429,16765,15125,12990,12083,11687,10783,major_felony
5,grand_larceny,39580,37835,38501,42497,45368,43862,44005,44279,43150,43558,43250,major_felony
6,grand_larceny_of_motor_vehicle,10670,10329,9314,8093,7400,7664,7332,6327,5676,5428,5430,major_felony

##### Dataset #3.2:  Non-Major Felony Offenses Data (2000-2020)

---

Second, we will be cleaning the Non-Major Felony Offenses (2000-2020) dataset individually.

In [35]:
# Load raw dataset
nonmajor_felony_raw = pd.read_csv('non-seven-major-felony-offenses-2000-2020.csv')

Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values.

In [36]:
nonmajor_felony = nonmajor_felony_raw.copy().drop([0, 1])
new_colnames_nonmajor = [i for i in nonmajor_felony_raw.iloc[2]]
nonmajor_felony.columns = new_colnames_nonmajor
nonmajor_felony = nonmajor_felony.drop([2])

# Drop Statistical Notes and NaN values
nonmajor_felony = nonmajor_felony.drop([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

Columns from 2000-2008 (inclusive), and 2020 are not relevant to our analysis. Thus, we drop these columns.

In [37]:
# Drop Columns 2000 - 2009 and 2020
nonmajor_felony = nonmajor_felony.drop([2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2020.0], axis=1)

# Reset Indices
nonmajor_felony = nonmajor_felony.reset_index(drop=True)

Reformat the dataset by renaming columns, casting all numerical entries as ints, and renaming the entries within the offenses column.

In [38]:
# Rename Columns
nonmajor_felony = nonmajor_felony.rename(columns={"OFFENSE": "offense"})
nonmajor_felony = nonmajor_felony.rename(columns={2009.0: 2009, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015, 2016.0: 2016, 2017.0: 2017, 2018.0: 2018, 2019.0: 2019})

# Make All Data Entries the Same Type (Int)
nonmajor_felony[2009] = nonmajor_felony[2009].astype(int)
nonmajor_felony[2010] = nonmajor_felony[2010].astype(int)
nonmajor_felony[2011] = nonmajor_felony[2011].astype(int)
nonmajor_felony[2012] = nonmajor_felony[2012].astype(int)
nonmajor_felony[2013] = nonmajor_felony[2013].astype(int)
nonmajor_felony[2014] = nonmajor_felony[2014].astype(int)
nonmajor_felony[2015] = nonmajor_felony[2015].astype(int)
nonmajor_felony[2016] = nonmajor_felony[2016].astype(int)
nonmajor_felony[2017] = nonmajor_felony[2017].astype(int)
nonmajor_felony[2018] = nonmajor_felony[2018].astype(int)
nonmajor_felony[2019] = nonmajor_felony[2019].astype(int)

# Make Offense Types Lowercase
nonmajor_felony.loc[:, "offense"] = nonmajor_felony.loc[:, "offense"].str.lower()

# Rename Offenses
nonmajor_felony.loc[0, 'offense'] = 'stolen property'
nonmajor_felony.loc[1, 'offense'] = 'forgery fraud identity theft'
nonmajor_felony.loc[3, 'offense'] = 'sex crimes'
nonmajor_felony.loc[4, 'offense'] = 'drugs'
nonmajor_felony.loc[5, 'offense'] = 'weapons'
nonmajor_felony.loc[6, 'offense'] = 'criminal mischief'
nonmajor_felony.loc[7, 'offense'] = 'other felonies'
nonmajor_felony.loc[:, 'offense'] = [i.replace(" ","_") for i in nonmajor_felony.loc[:, 'offense']]

Drop the Totals row.

In [39]:
# Drop Totals Row 
nonmajor_felony = nonmajor_felony.drop([8])

Finally, add a column to indicate the category of the offenses (Non-Major Felony) for later reference in the final dataset.

In [40]:
# Add column "status" (as a non-major felony crime) for later
nonmajor_felony['status'] = ['nonmajor_felony' for i in nonmajor_felony['offense']]

nonmajor_felony

,offense,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,status
0,stolen_property,823,864,823,711,689,1090,904,769,1019,951,733,nonmajor_felony
1,forgery_fraud_identity_theft,10225,10055,9876,10233,9493,9520,10400,11079,10063,9413,8684,nonmajor_felony
2,arson,1474,1467,1264,1253,1187,1205,1026,802,680,741,711,nonmajor_felony
3,sex_crimes,914,1053,1028,1380,1073,1135,1152,1336,1367,1615,1562,nonmajor_felony
4,drugs,26025,22913,21305,19680,19571,17113,15279,14712,13348,11236,9587,nonmajor_felony
5,weapons,5952,5413,5037,4979,5155,4605,4848,5465,4843,4639,4219,nonmajor_felony
6,criminal_mischief,6397,6006,6374,6737,7468,8466,9253,9966,10073,10427,11302,nonmajor_felony
7,other_felonies,11950,11616,11533,11929,13014,13735,13658,14217,13514,13645,14686,nonmajor_felony

##### Dataset #3.3:  Misdemeanor Offenses Data (2000-2020)

---

Third, we will be cleaning the Misdemeanor Offenses (2000-2020) dataset individually.

In [45]:
# Load raw dataset
misdemeanor_raw = pd.read_csv('misdemeanor-offenses-2000-2020.csv')

Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values.

In [48]:
# Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values
misdemeanor = misdemeanor_raw.copy().drop([0, 1])
new_colnames_misdemeanor = [i for i in misdemeanor_raw.iloc[2]]
misdemeanor.columns = new_colnames_misdemeanor
misdemeanor = misdemeanor.drop([2])

# Drop Statistical Notes and NaN values
misdemeanor = misdemeanor.drop([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40])

Columns from 2000-2008 (inclusive), and 2020 are not relevant to our analysis. Thus, we drop these columns.

In [49]:
# Drop Columns 2000 - 2009 and 2020
misdemeanor = misdemeanor.drop([2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2020.0], axis=1)

# Reset Indeces
misdemeanor = misdemeanor.reset_index(drop=True)

Reformat the dataset by renaming columns, casting all numerical entries as ints, and renaming the entries within the offenses column.

In [52]:
# Rename Columns
misdemeanor = misdemeanor.rename(columns={"OFFENSE": "offense"})
misdemeanor = misdemeanor.rename(columns={2009.0: 2009, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015, 2016.0: 2016, 2017.0: 2017, 2018.0: 2018, 2019.0: 2019})

# Make All Data Entries the Same Type (Int)
misdemeanor[2009] = misdemeanor[2009].astype(int)
misdemeanor[2010] = misdemeanor[2010].astype(int)
misdemeanor[2011] = misdemeanor[2011].astype(int)
misdemeanor[2012] = misdemeanor[2012].astype(int)
misdemeanor[2013] = misdemeanor[2013].astype(int)
misdemeanor[2014] = misdemeanor[2014].astype(int)
misdemeanor[2015] = misdemeanor[2015].astype(int)
misdemeanor[2016] = misdemeanor[2016].astype(int)
misdemeanor[2017] = misdemeanor[2017].astype(int)
misdemeanor[2018] = misdemeanor[2018].astype(int)
misdemeanor[2019] = misdemeanor[2019].astype(int)

# Make Offense Types Lowercase
misdemeanor.loc[:, "offense"] = misdemeanor.loc[:, "offense"].str.lower()

# Rename Offenses
misdemeanor.loc[0, 'offense'] = 'stolen property'
misdemeanor.loc[1, 'offense'] = 'sex crimes'
misdemeanor.loc[2, 'offense'] = 'drugs'
misdemeanor.loc[3, 'offense'] = 'weapons'
misdemeanor.loc[5, 'offense'] = 'assault3'
misdemeanor.loc[6, 'offense'] = 'dui'
misdemeanor.loc[8, 'offense'] = 'criminal mischief'
misdemeanor.loc[9, 'offense'] = 'trespass'
misdemeanor.loc[10, 'offense'] = 'unauthorized use of vehicle'
misdemeanor.loc[11, 'offense'] = 'offenses against person'
misdemeanor.loc[12, 'offense'] = 'offenses against public administration'
misdemeanor.loc[13, 'offense'] = 'administrative code'
misdemeanor.loc[14, 'offense'] = 'fraud'
misdemeanor.loc[15, 'offense'] = 'aggravated harassment'
misdemeanor.loc[16, 'offense'] = 'other'
misdemeanor.loc[:, 'offense'] = [i.replace(" ","_") for i in misdemeanor.loc[:, 'offense']]

Drop the Totals row.

In [51]:
# Drop Totals Row 
misdemeanor = misdemeanor.drop([17])

Finally, add a column to indicate the category of the offenses (Misdemeanor) for later reference in the final dataset.

In [53]:
# Add column "status" (as a misdemeanor) for later
misdemeanor['status'] = ['misdemeanor' for i in misdemeanor['offense']]

misdemeanor

,offense,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,status
0,stolen_property,2023,2240,2853,2662,2337,1469,1145,932,957,835,679,misdemeanor
1,sex_crimes,4459,4512,4632,4480,4064,4246,4555,4947,5424,5827,5805,misdemeanor
2,drugs,79302,79908,80462,67898,55529,52835,38471,35982,33686,19943,10854,misdemeanor
3,weapons,8367,8716,8601,7136,6522,6166,5685,5006,3844,3259,2078,misdemeanor
4,petit_larceny,80928,81522,81160,82947,85602,85121,81598,81274,83569,86489,89314,misdemeanor
5,assault3,50216,52716,50972,54495,53738,53847,42654,42422,41665,43126,42529,misdemeanor
6,dui,7700,6691,6027,6723,8238,7875,5933,5964,5652,4987,4369,misdemeanor
7,vehicle_and_traffic_laws,6178,6624,5802,5577,6106,5841,6266,6580,6457,6722,6777,misdemeanor
8,criminal_mischief,45770,44930,42995,41024,36765,38793,39606,38893,39289,36835,35876,misdemeanor
9,trespass,20904,19858,18297,15719,13459,14540,11473,9799,8218,6445,5405,misdemeanor
10,unauthorized_use_of_vehicle,1181,1274,1285,1416,1491,1704,1601,1809,1668,1640,1604,misdemeanor
11,offenses_against_person,1122,1205,1207,1248,1380,1334,1293,1225,1354,1150,1266,misdemeanor
12,offenses_against_public_administration,11217,11129,11067,10728,10687,10303,9405,8929,8021,7554,7640,misdemeanor
13,administrative_code,1010,975,982,1003,1019,1011,985,942,830,961,1045,misdemeanor
14,fraud,5155,5422,5180,5254,4936,5331,4788,4640,4017,3775,3180,misdemeanor
15,aggravated_harassment,30852,30037,27819,27240,26972,19725,20511,21328,20325,19375,18120,misdemeanor
16,other,30381,34133,33767,38814,40505,38230,46879,44253,35378,22707,19497,misdemeanor

##### Dataset #3.4:  Violation Offenses Data (2000-2020)

---

Fourth and last, we will be cleaning the Misdemeanor Offenses (2000-2020) dataset individually.

In [56]:
# Load the raw dataset
violation_raw = pd.read_csv('violation-offenses-2000-2020.csv')

Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values.

In [57]:
# Column names did not import properly (they imported as a row in the data), so we renamed the Columns and dropped that row along with NaN values
violation = violation_raw.copy().drop([0, 1])
new_colnames_violation = [i for i in violation_raw.iloc[2]]
violation.columns = new_colnames_violation
violation = violation.drop([2])

# Drop Statistical Notes and NaN values
violation = violation.drop([6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

Columns from 2000-2008 (inclusive), and 2020 are not relevant to our analysis. Thus, we drop these columns.

In [58]:
# Drop Columns 2000 - 2009 and 2020
violation = violation.drop([2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2020.0], axis=1)

# Reset Indeces
violation = violation.reset_index(drop=True)

Reformat the dataset by renaming columns, casting all numerical entries as ints, and renaming the entries within the offenses column.

In [ ]:
# Rename Columns
violation = violation.rename(columns={"OFFENSE": "offense"})
violation = violation.rename(columns={2009.0: 2009, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015, 2016.0: 2016, 2017.0: 2017, 2018.0: 2018, 2019.0: 2019})

# Make All Data Entries the Same Type (Int)
violation[2009] = violation[2009].astype(int)
violation[2010] = violation[2010].astype(int)
violation[2011] = violation[2011].astype(int)
violation[2012] = violation[2012].astype(int)
violation[2013] = violation[2013].astype(int)
violation[2014] = violation[2014].astype(int)
violation[2015] = violation[2015].astype(int)
violation[2016] = violation[2016].astype(int)
violation[2017] = violation[2017].astype(int)
violation[2018] = violation[2018].astype(int)
violation[2019] = violation[2019].astype(int)

# Make Offense Types Lowercase
violation.loc[:, "offense"] = violation.loc[:, "offense"].str.lower()

# Rename Offenses
violation.loc[0, 'offense'] = 'harassment'
violation.loc[1, 'offense'] = 'other'

Drop the Totals row.

Finally, add a column to indicate the category of the offenses (Violation) for later reference in the final dataset.

##### Combined Data (rename this)
___

Finally, combine the Seven Major Felony Offenses (2000-2020) dataset and the Non-Seven Major Felony Offenses (2000-2020) dataset

In [25]:
# Add Column to indicate whether the offense is a Major felony or Nonmajor felony
major_felony['major_nonmajor'] = [1, 1, 1, 1, 1, 1, 1]
nonmajor_felony['major_nonmajor'] = [0, 0, 0, 0, 0, 0, 0, 0]

felony_data = major_felony.copy().append(nonmajor_felony.copy(), ignore_index = True)

felony_data

,offense,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,major_nonmajor
0,murder & non-negl. manslaughter,471,536,515,419,335,333,352,335,292,295,319,1
1,rape,1205,1373,1420,1445,1378,1352,1438,1438,1449,1794,1755,1
2,robbery,18601,19486,19717,20144,19128,16539,16931,15500,13956,12913,13371,1
3,felony assault,16773,16956,18482,19381,20297,20207,20270,20847,20052,20208,20698,1
4,burglary,19430,18600,18720,19168,17429,16765,15125,12990,12083,11687,10783,1
5,grand larceny,39580,37835,38501,42497,45368,43862,44005,44279,43150,43558,43250,1
6,grand larceny of motor vehicle,10670,10329,9314,8093,7400,7664,7332,6327,5676,5428,5430,1
7,felony possession of stolen property,823,864,823,711,689,1090,904,769,1019,951,733,0
8,forgery/theft_fraud/identity theft,10225,10055,9876,10233,9493,9520,10400,11079,10063,9413,8684,0
9,arson,1474,1467,1264,1253,1187,1205,1026,802,680,741,711,0
10,felony sex crimes (3),914,1053,1028,1380,1073,1135,1152,1336,1367,1615,1562,0
11,felony dangerous drugs (1),26025,22913,21305,19680,19571,17113,15279,14712,13348,11236,9587,0
12,felony dangerous weapons (2),5952,5413,5037,4979,5155,4605,4848,5465,4843,4639,4219,0
13,fel. criminal mischief & related offenses,6397,6006,6374,6737,7468,8466,9253,9966,10073,10427,11302,0
14,other felonies (4),11950,11616,11533,11929,13014,13735,13658,14217,13514,13645,14686,0

### (c) Data Description

Description of each analysis-ready dataset.

#### Dataset #1: Stop, Question, and Frisk (2011)

**Motivation**

Write description here...

**Composition**

Write description here...

**Collection Process**

Write description here...

**Pre-Processing / Cleaning / Labeling**

Write description here...

**Uses**

Write description here...

#### Dataset #2: Stop, Question, and Frisk (2019)

**Motivation**

Write description here...

**Composition**

Write description here...

**Collection Process**

Write description here...

**Pre-Processing / Cleaning / Labeling**

Write description here...

**Uses**

Write description here...

#### Dataset #3: Criminal Offense Data (2009-2019)

**Motivation:**

This dataset was created in order to aggregate the annual crime data in New York City, including felony, misdemeanor, and violation offenses from 2009 to 2019. 

This dataset was composed from four individual datasets created by the New York Police Department (NYPD) for the public. The four original datasets consisted of data regarding the Seven Major Felony Offenses, Non Major Felony Offenses, Misdemeanor Offenses, and Violation Offenses. 

The creation of the four individual datasets were funded by the government via taxpayer dollars allocated to the NYPD.

**Composition:**

The instances that comprise the dataset represent the aggregate counts of each type of criminal offense within the categories of Major Felonies, Nonmajor Felonies, Misdemeanors, and Violations reported in NYC by the NYPD by year (2009-2019). There are 374 instances in total in the dataset, indexed by type of offense and year of occurrence. Under each year, there are entries consistent with 34 types of offenses, each of which are considered either a Major Felony, Nonmajor Felony, Misdemeanor, or Violation Offense under New York state and/or Federal Law. For each type of offense, there are 11 entries, one for each year from 2009 to 2019. The dataset is not a sample and contains all possible instances. However, the four datasets from which this one was composed were likely created by aggregating data on each individual criminal offense reported by the NYPD in the relevant time period. Each instance in the dataset consists of an aggregated count for each type of criminal offense reported by the NYPD by year (2009-2019). Each instance is labeled by type of criminal offense, category of offense (Major Felony, Nonmajor Felony, Misdemeanor, or Violation) and year. No information is missing from individual instances. Each instance of data includes the necessary information and context. However, each instance is merely the count per type of criminal offense per year, not the individual instances of crime themselves. The relationship between individual instances is made explicit. The count of each type of criminal offense can be compared across years (2000-2020). Likewise, the count of each type of criminal offense can be compared within each year.

There are no recommended data splits. There are no errors, sources of noise, or redundancies in the dataset. This dataset is concise and clean. The dataset is not self-contained. The dataset was created by combining four other datasets, each of which linked to external datasets as sources of information.

The dataset does not contain data that might be considered confidential. All the information in the dataset is public NYPD data. The dataset does not contain data that would likely be perceived as offensive, insulting, threatening, or anxiety-inducing if viewed directly. However, given that the data pertains to violent crimes, one could possibly have an emotional response to the data, though it is unlikely. The dataset does not relate to people.

**Collection Process**

The data associated with each instance is not directly observable, as it was acquired by aggregating data collected from external datasets. The four dataset used to compose this one were produced by the NYPD from their own reporting, so the data was likely validated internally. The data was collected by aggregating individual instances of criminal offenses collected by manual human curation via NYPD reports. The police officers who collected this data did so as part of the crime-reporting operations and public disclosure. These officials of the NYPD were likely compensated in their capacity as a state employee. The data was collected over the course of roughly a decade, 2009-2019.

No ethical review processes were conducted as the data collected is the direct byproduct of NYPD operations. The dataset does not relate to people, as each instance of criminal activity is merely one point in an aggregate count and is removed from any individually identifying factors.

**Pre-Processing / Cleaning / Labeling**

The four datasets used to create the final dataset were likely pre-processed by the NYPD to produce such clean data. Even still, in the process of combining the four datasets, each one had to first be cleaned to eliminate data from years that do not pertain to the timeline of interest within the guiding research question. The four datasets also had to be cleaned to be properly formatted, which included renaming the columns, removing missing values, renaming the offense types, and casting all numbers as ints. Finally, a column was added to indicate the category of offense (Major Felony, Nonmajor Felony, Misdemeanor, or Violation) for reference in the final dataset.

The raw data was saved both in the original file formats and as DataFrames (major_felony_raw, nonmajor_felony_raw, misdemeanor_raw, and violation_raw). The dataset was cleaned using Python within a Jupyter Lab Notebook. 


**Uses**

This dataset has not been used for any tasks already. However, the four datasets from which it was composed may have been used for other purposes, though the website in which these datasets were found (ny.gov) does not provide any information regarding any prior use. The dataset could possibly be used for other analyses that pertain to the changes in felony crimes rates in NYC over the last decade. 

Unfortunately, the provider of the four datasets used to create this one (the NYPD) does not specifically detail their process of collecting and preprocessing the data, so we cannot infer how future users may be impacted by their decisions. In the process of cleaning the final dataset, certain offense types were renamed for ease and consistency. While minimal context was lost, future users would benefit from examining the four datasets from which the final was composed in order to see the offense types as listed by the NYPD.

#### Dataset #4: 

**Motivation**

Write description here...

**Composition**

Write description here...

**Collection Process**

Write description here...

**Pre-Processing / Cleaning / Labeling**

Write description here...

**Uses**

Write description here...

### (d) Data Limitations

Write answers here...

### (d) Exploratory Data Analysis